.wd-offset-body-16 {
    padding-left: 16px;
    border-color: rgb( 47, 51, 54 );
    font-family: Arial;
}
.wd-rounded-corners {
    border-radius: 50px;
}
.wd-bg-color-black {
    background-color: black;
}
.wd-bg-color-darkgray {
    background-color: darkgray;
}

.wd-handle-text-darkgray {
    display: inline-block;
    font-weight: bold;
    color:darkgray;
}

.wd-fg-color-white {
    color: white;
}
.wd-fg-color-gray {
    color: gray;
}

.wd-fg-color-red {
    color: red;
}

.wd-hr-gray {
    border-color: gray;
    border-style: solid;
    background: gray;
    color: gray;
}

.wd-hr-hidden {
    border-color: black;
    border-style: none;
}

.wd-plain-text {
    color: rgb( 110, 118, 125 );
    text-decoration: none;
}

.wd-no-text-decoration {
    text-decoration: none;
}

.wd-bg-color-lightgray-custom {
    background-color: rgba(6,6,6,0.09);
}

.wd-border-right-gray-1px {
    border-right: 1px solid rgb(6,6,6,0.09);
}

.wd-border-left-gray-1px {
    border-left: 1px solid rgb(6,6,6,0.09);
}

.wd-no-border {
    border: none;
}

.wd-full-post-prof-pic {
    border-radius: 50%;
    width: 150%;
}

.wd-full-post-pic {
    border-radius: 3%;
    width: 100%;
}

.wd-post-summary-text {
    color: white;
    display: inline-block;
    font-weight: bold;
}

.wd-flex-reaction-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkgrey;
}

.wd-image-round-48px {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-border-bot-gray-1px {
    border-bottom: 1px solid grey;
}